In [1]:
import pandas as pd
import numpy as np

In [2]:
#df = pd.read_csv("nifty50.csv").set_index('Date')
df = pd.read_csv("nifty50.csv", parse_dates=['Date'], usecols=['Date', 'PE Ratio'])

In [3]:
df.head()

        Date  PE Ratio
0 1999-01-01     11.62
1 1999-01-04     11.72
2 1999-01-05     11.84
3 1999-01-06     12.11
4 1999-01-07     12.46

In [4]:
print(df.dtypes)

Date        datetime64[ns]
PE Ratio           float64
dtype: object

In [5]:
df2 = df.resample('W', on='Date').mean()

In [6]:
df2.head()

            PE Ratio
Date
1999-01-03    11.620
1999-01-10    12.210
1999-01-17    12.528
1999-01-24    12.485
1999-01-31    12.755

In [7]:
df2.to_csv("Nifty50-weekly.csv")